body {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  background-color: black;
}

table {
  border-collapse: collapse;
}

td {
  position: relative;
}

tr:hover,
tr:focus-within {
  background: #b3945b;
  outline: none;
}

td > a:first-child {
  display: flex;
  padding: 18px;
  text-decoration: none;
  color: white;  
}

.tp,
.tp2 {
    background-color: #181818;
}


